<footer class="footer text-muted">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
          <li class="list-inline-item"><a href="https://beian.miit.gov.cn" target="_blank"><p style="color:#939393;">待备案</p></a></li>
          <li class="list-inline-item"><a href="http://www.beian.gov.cn" target="_blank"><p style="color:#939393;">待备案</p></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>